<table style="width:100%;" cellspacing="0" class="table table-bordred" id="tblFilterList">
    <thead>
        <tr>
            <th style="text-align:left">Part Code</th>
            <th style="text-align:left">Name</th>
            <th style="text-align:left">Type</th>
            <th style="text-align:left">Outsource</th>
            <th style="text-align:left">Category</th>
            <th style="text-align:left">Color</th>
            <th style="text-align:left">Material</th>
            <th style="text-align:left">Criticality</th>
            <th style="text-align:left">Unit</th>           
        </tr>
    </thead>    
    <tbody>
        @if (Model != null)
        {
            foreach (var data in Model)
            {
                //Display mode row start here
                <tr data-Part_Id="@data.Part_Id" class="display-mode">
                    <td title="@data.Part_Code" >
                        @data.Part_Code
                    </td>
                    <td title="@data.Part_Name" >
                        @data.Part_Name
                    </td>
                    <td title="@data.Part_Type" >
                        @data.Part_Type
                    </td>
                    <td title="@data.Outsource_Type" >
                        @data.Outsource_Type
                    </td>
                    <td title="@data.Category_Name" >
                        @data.Category_Name
                    </td>
                    <td title="@data.Color_Name" >
                        @data.Color_Name
                    </td>
                    <td title="@data.Material_Name" >
                        @data.Material_Name
                    </td>
                    <td title="@data.Criticality_Name" >
                        @data.Criticality_Name
                    </td>
                    <td title="@data.Unit_Name" >
                        @data.Unit_Name
                    </td>                   
                </tr>
            }
        }

    </tbody>
</table>





