<table class="table table-bordred" id="tblCustomerList" >
    <thead>
        <tr>
            <th style="text-align:left">Customer Code</th>
            <th style="text-align:left">Customer Name</th>
            <th style="text-align:left">Contact No</th>
            <th style="text-align:left">Email</th>
            @*<th style="text-align:left">Address1</th>
            <th style="text-align:left">Address2</th>*@
            <th style="text-align:left">City</th>
            @*<th style="text-align:left">State</th>
            <th style="text-align:left">Pin Code</th>
            <th style="text-align:left">Tin No</th>
            <th style="text-align:left">Vat No</th>
            <th style="text-align:left">Note</th>*@
            <th class="action-col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var data in Model)
            {
                //Display mode row start here
                <tr data-Customer_Id="@data.Customer_Id" class="display-mode">
                    <td title="@data.Customer_Code" >
                        @data.Customer_Code
                    </td>
                    <td title="@data.Customer_Name" >
                        @data.Customer_Name
                    </td>
                    <td title="@data.Contact_No" >
                        @data.Contact_No
                    </td>
                    <td title="@data.Email" >
                        @data.Email
                    </td>  
                    @*<td title="@data.Address1" >
                        @data.Address1
                    </td>  
                    <td title="@data.Address2" >
                        @data.Address2
                    </td>*@  
                    <td title="@data.City" >
                        @data.City
                    </td>  
                    @*<td title="@data.State" >
                        @data.State
                    </td>  
                    <td title="@data.PinCode" >
                        @data.PinCode
                    </td>  
                    <td title="@data.TinNo" >
                        @data.TinNo
                    </td> 
                    <td title="@data.VatNo" >
                        @data.VatNo
                    </td>  
                    <td title="@data.Note" >
                        @data.Note
                    </td>*@                    
                    <td class="clsAction" >
                        <a href="javascript:void(0);" title="Edit" class="clsEditCustomer">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="javascript:void(0);" title="Delete" class="clsDeleteCustomer" >
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>




