@model IEnumerable<InventoryTool.Model.GetAllCustomer_Result>
@{
    ViewBag.Title = "Customers";
}
<script src="~/Scripts/Customer/Customer.js"></script>
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="Stylesheet" type="text/css">
<link href="~/Content/custom-css/custome.css" rel="stylesheet" />
<link href="~/Content/custom-css/shared.css" rel="stylesheet" />
<div role="tabpanel" class="tab-pane active" id="Customer">
    <div class="container">
        <div style="margin-top:23px">
            <div class="panel panel-default" style="margin-bottom:25px">
                <div style="margin-top:1%">
                    <label style="margin-left:30px">Customer</label><br />
                    <a href="javascript:void(0)" id="lnkAddNewCustomer" style="color:#01A4EF;text-decoration:underline;margin-left:30px; ">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Add New Item
                    </a>
                    <div id="divDisplayCustomerMessages">
                    </div>
                    @* This row will use in clone*@
                    <table id="tblMasterCustomer" style="display:none">
                        <tr data-Customer_Id="-1" id="MasterRow_Customer">
                            <td>
                                @Html.TextBox("Customer_Code", "", new { @class = "clsCustomer_Code form-control" })
                            </td>
                            <td>
                                @Html.TextBox("Customer_Name", "", new { @class = "clsCustomer_Name form-control" })
                            </td>
                            <td>
                                @Html.TextBox("Manufacturing_Days", "", new { @class = "clsManufacturing_Days form-control" })
                            </td>
                            <td>
                                @Html.TextBox("Description", "", new { @class = "clsDescription form-control" })
                            </td>                            
                            <td>
                                <a href="javascript:void(0);" title="Save" class="clsAddUpdateCustomer">  Save</a>
                                <a href="javascript:void(0);" title="Cancel" onclick="fn_RemoveRow(this)">Cancel</a>
                            </td>
                        </tr>
                        <tr data-Customer_Id="" class="edit-mode" id="MasterRowEdit_Customer">
                            <td>
                                @Html.TextBox("Customer_Code", "", new { @class = "clsCustomer_Code form-control" })
                            </td>
                            <td>
                                @Html.TextBox("Customer_Name", "", new { @class = "clsCustomer_Name form-control" })
                            </td>
                            <td>
                                @Html.TextBox("Manufacturing_Days", "", new { @class = "clsManufacturing_Days form-control" })
                            </td>
                            <td>
                                @Html.TextBox("Description", "", new { @class = "clsDescription form-control" })
                            </td>   
                            <td>
                                <a href="javascript:void(0);" title="Update" class="clsAddUpdateCustomer">Update</a>
                                <a href="javascript:void(0);" title="Cancel" class="clsCancelCustomerUpdate">Cancel</a>
                            </td>
                        </tr>
                    </table>
                    <!--End of Master Row* -->

                    <div id="dvCustomerList">
                        @Html.Partial("_CustomerList", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
   
    $(document).ready(function () {
        var Customerjs = {
            init: function () {
                var obj = Customerjs;                
                obj.LoadCustomer();
                Common.setAttributeList(obj);
            },
            LoadCustomer: function () {
              
                //  var obj = Customerjs;
                //initial load the Datatable setting.
                Customerjs.ReinitiateDataTable('tblCustomerList');

                $("#Customer").find("#dvCustomerList").on("click", ".clsDeleteCustomer", function () {
                   
                    var data, Customer_Id, urlPath;
                    var promptdelete = confirm('Are you sure you want to delete this record? There could be dependent budget requests which may get impacted based on this action');
                    if (promptdelete) {
                        data = $(this).parents('tr');
                        Customer_Id = $(data).attr('data-Customer_id');
                        urlPath = "/Customer/DeleteCustomer";
                        if (Customer_Id != '') {
                            $.ajax({
                                type: "Get",
                                cache: false,
                                url: urlPath,
                                data: {
                                    Customer_Id: Customer_Id
                                },
                                beforeSend: function () {
                                    Common.showDialog.show('Please wait....', {
                                        dialogSize: 'sm',
                                        progressType: 'warning'
                                    });
                                },
                                complete: function () {
                                    Common.showDialog.hide();
                                },
                                success: function (result) {
                                    if (result.operationstatuscode == 3) {
                                        fn_ShowHideUserMessageDivWithCssClass_common('divDisplayCustomerMessages', result.messagedata, true, 'alert alert-success');
                                        Customerjs.fn_ReloadCustomerGrid();
                                    }
                                    else {
                                        fn_ShowHideUserMessageDivWithCssClass_common('divDisplayCustomerMessages', result.messagedata, true, 'alert alert-danger');
                                    }
                                },
                                error: function (ex) {
                                    alert(ex.responseText);
                                }
                            });
                        }

                    }


                });
                ///Get Row Data in Edit Mode
                $("#Customer").find("#dvCustomerList").on("click", ".clsEditCustomer", function () {

                    var Customer_Id, data, urlPath;
                    data = $(this).parents('tr');
                    Customer_Id = $(data).attr('data-Customer_id');
                    urlPath = "/Customer/GetCustomerByCustomerId";
                    if (Customer_Id != '') {
                        $('.clsEditCustomer ,.clsDeleteCustomer').css('display', 'none');
                        $.ajax({
                            type: "Get",
                            cache: false,
                            url: urlPath,
                            data: {
                                Customer_Id: Customer_Id
                            },
                            beforeSend: function () {
                                Common.showDialog.show('Please wait....', {
                                    dialogSize: 'sm',
                                    progressType: 'warning'
                                });
                            },
                            complete: function () {
                                Common.showDialog.hide();
                            },
                            success: function (result) {
                                $(data).hide();
                                var row = $("#MasterRowEdit_Customer").clone();
                                $(row).find('.clsCustomer_Code').val(result.Customer_Code);                                
                                $(row).find('.clsCustomer_Name').val(result.Customer_Name);
                                $(row).find('.clsManufacturing_Days').val(result.Manufacturing_Days);
                                $(row).find('.clsDescription').val(result.Description);
                                $(row).removeAttr("style");
                                $(row).attr("data-Customer_Id", Customer_Id);
                                $(data).after(row);
                            },
                            error: function (ex) {
                                alert(ex.responseText);
                            }
                        });
                    }

                });
                $("#lnkAddNewCustomer").on('click', function () {
                    var oTable = $('#tblCustomerList').dataTable();
                    oTable.fnPageChange('first');
                    //get the clone row.
                    var row = $("#MasterRow_Customer").clone();
                    $(row).removeAttr("style");
                    $(row).find('.clsCustomer_Code').val('');
                    $(row).find('.clsCustomer_Name').val('');
                    $(row).find('.clsManufacturing_Days').val('');
                    $(row).find('.clsDescription').val('');
                    $("#tblCustomerList >tbody").prepend(row);// now will append the clone row to table.
                });
                ///Handle the Cancel update functionality
                $("#Customer").find("#dvCustomerList").on("click", ".clsCancelCustomerUpdate", function () {

                    var data;
                    data = $(this).parents('tr');
                    $(data).closest('tr.edit-mode').hide();
                    $(data).closest('tr').prev('tr.display-mode').show();
                    $('.clsEditCustomer,.clsDeleteCustomer').removeAttr('style');
                });
                ///Handle the Add/update functionality
                $("#Customer").find("#dvCustomerList").on("click", ".clsAddUpdateCustomer", function () {
                   
                    var Customer_Id, Customer_Name, data, urlPath;
                    var strValidationMsglists = "";

                    data = $(this).parents('tr');
                    Customer_Id = $(data).attr('data-Customer_Id');
                    
                    Customer_Name = $(data).find(".clsCustomer_Name").val();
                    Customer_Code = $(data).find(".clsCustomer_Code").val();
                    Manufacturing_Days = $(data).find(".clsManufacturing_Days").val();
                    Description = $(data).find(".clsDescription").val();
                    //put validation here

                    if (Customer_Name == "")  {
                        strValidationMsglists = strValidationMsglists + "<li>Customer Name is required.</li>";
                    }
                    if (Customer_Code == "")  {
                        strValidationMsglists = strValidationMsglists + "<li>Customer Code is required.</li>";
                    }
                    if ((Manufacturing_Days == "") || ((fn_numbervalidation(Manufacturing_Days)))) {
                        strValidationMsglists = strValidationMsglists + "<li>Manufacturing Days is required and it shouldn’t be numeric.</li>";
                    }
                    if (strValidationMsglists != "") {
                        strValidationMsglists = "<ol>" + strValidationMsglists + "</ol>"
                        fn_ShowHideUserMessageDivWithCssClass_common('divDisplayCustomerMessages', strValidationMsglists, true, 'alert alert-danger'); //common function to display error message.
                        return false;
                    }
                    urlPath = "/Customer/AddUpdateCustomer";
                    if (true) {
                        $.ajax({
                            type: "Get",
                            cache: false,
                            url: urlPath,
                            data: {
                                Customer_Id: Customer_Id,
                                Customer_Code: Customer_Code, 
                                Customer_Name: Customer_Name,
                                Manufacturing_Days: Manufacturing_Days,
                                Description: Description
                            },
                            beforeSend: function () {
                                Common.showDialog.show('Please wait....', {
                                    dialogSize: 'sm',
                                    progressType: 'warning'
                                });
                            },
                            complete: function () {
                                Common.showDialog.hide();
                            },
                            success: function (result) {
                                if (result.operationstatuscode == 1 || result.operationstatuscode == 2) {
                                    fn_ShowHideUserMessageDivWithCssClass_common('divDisplayCustomerMessages', result.messagedata, true, 'alert alert-success');
                                    Customerjs.fn_ReloadCustomerGrid();
                                }
                                else {
                                    fn_ShowHideUserMessageDivWithCssClass_common('divDisplayCustomerMessages', result.messagedata, true, 'alert alert-danger');
                                }
                            },
                            error: function (ex) {
                                alert(ex.responseText);
                            }
                        });
                    }
                });
            },

            ///This function refresh the grid data.
            fn_ReloadCustomerGrid: function () {

                var urlPath = "/Customer/GetCustomerPartial";
                if (true) {
                    $.ajax({
                        type: "Get",
                        cache: false,
                        url: urlPath,
                        beforeSend: function () {
                            //Common.showDialog.show('Please wait....', {
                            //    dialogSize: 'sm',
                            //    progressType: 'warning'
                            //});
                        },
                        complete: function () {
                            Customerjs.ReinitiateDataTable('tblCustomerList');
                            Common.showDialog.hide();

                        },
                        success: function (result) {
                            $("#dvCustomerList").html(result);
                            Common.showDialog.hide();
                        },
                        error: function (ex) {
                            alert(ex.responseText);
                        }
                    });
                }


            },
            ReinitiateDataTable: function (tableId) {


                $("#" + tableId).DataTable(
                {
                    bFilter: false, bInfo: false, bLengthChange: false, "order": [0, 'asc'],
                    "aoColumnDefs": [
                     {
                         'bSortable': false,
                         'aTargets': ['action-col', 'text-holder']
                     }]
                }
                  );
            }

        }
        Customerjs.init();
    });
</script>